# Hello Python - Exercises for Sehar

In [ ]:
# Exercise 1: Print a message
print("Hello, Python!")

In [ ]:
# Exercise 2: Simple math
a = 5
b = 7
print("The sum is:", a + b)

In [ ]:
# Exercise 3: Variables
name = "Sehar"
print("My name is", name)

In [ ]:
# Exercise 4: Lists
fruits = ["apple", "banana", "cherry"]
print("My favorite fruits:", fruits)

In [ ]:
# Exercise 5: Loop
for i in range(3):
    print("Loop number:", i)

In [ ]:
# Exercise 6: Functions
def square(x):
    return x * x

print("Square of 4 is:", square(4))